{% extends 'base.html' %}

{% block title %}Habits{% endblock %}

{% block content %}
<h1>Your Habits</h1>
<a href="{% url 'add_habit' %}">Add Habit</a>
<ul>
    {% for habit in habits %}
    <li>
        {{ habit.name }} - {% if habit.completed %}Completed - {{ habit.streak }} days{% else %}Not Completed{% endif %}
        <a href="{% url 'mark_complete' habit.id %}">{% if habit.completed %}Mark Not Complete{% else %}Mark Complete{% endif %}</a>
    </li>
    {% endfor %}
</ul>


{% endblock %}