{% extends 'base.html' %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}




{% block title %}Habits{% endblock %}

{% block content %}
<h1>Your Habits</h1>
<a href="{% url 'add_habit' %}">Add Habit</a>
<ul>
    {% for habit in habits %}
    <li>
        {{ habit.name }} - {% if habit.completed %}Completed - {{ habit.streak }} days{% else %}Not Completed{% endif %}
        <a href="{% url 'mark_complete' habit.id %}">{% if habit.completed %}Mark Not Complete{% else %}Mark Complete{% endif %}</a>
        <p>{{ habit.streak }}</p>
        <a href="{% url 'habit_calendar' habit.id %}">View Calendar</a>
    </li>
    {% endfor %}
</ul>



{% endblock %}