body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar { /* Temporary css class, if not needed */
    background-color: cornflowerblue;
}

/* @media query {

}

@media query {

}

@media query {

}
*/